img{
	max-width: 100%;
}

#youtube-wrapper{
	/* Set a gutter on both sides of the wrapper */
    margin: auto 40px;
}

#nav{
	border-bottom: 1px solid black;
	padding: 20px 0px;
}

#header{
	/* set the height */
    height: 50px;
    /* set the line-height so the text is vertically centered */
    line-height: 50px;
    /* set a border for the bottom line */
    border-bottom: 1px solid black;
}

#header h1{
	font-size: 20px;
}

#logo, #search-nav, #account-container{
	display: inline-block;
}

#logo{
	width: 20%;
}

#logo img{
	max-width: 150px;
}

#search-nav{
	width: 50%;
}

#search-container{
		margin-bottom: 15px;
}

#nav-bar ul li{
	/* put all li's on the same line */
	display: inline-block;
	/* puta line on the right side */
	border-right: 1px solid black;
	/* get some space between the li and the border */
	padding-right: 20px;
	padding-left: 10px;
	text-decoration: underline;
}

/* target the last element only */
#nav-bar ul li:last-child{
	border: none;
}

#search-nav input[type=text]{
	width: 200px;
}

#account-container{
	width: 18%;
	text-align: right;
}

#account-link{
	margin-top: 20px;
}

#account-link ul li{
	display: inline-block;
	padding-right: 10px;
}

#account-link ul li:last-child{
	padding: 0px;
}

#content{
	margin-top: 20px;
}

#featured-wrapper{
	background-color: #cacaca;
	padding: 0px 15px;
	width: 70%;
}

#featured-wrapper h2{
	font-size: 18px;
	/* margin on top/bottom; leave left/right alone */
	margin: 10px auto;
}

#featured-wrapper, #featured, #secondary-videos{
	display: inline-block;
}

.small-video{
	border: 1px solid black;
}

.small-video, .small-video-text{
	display: inline-block;
}

#right-rail-ad{
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

#more-videos{
	background-color: #cacaca;
	padding: 10px;
	margin-top: 20px;
}

#more-video-item{
	display: inline-block;
	width: 24%;
}